.header__lang-link {
  display: inline-block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.111;
}

@media screen and (min-width: 672px) {
  .header__lang-link {
      font-size: 24px;
      line-height: 1.166;
    }
}

@media (hover: hover) {
  .header__lang-link:hover {
      opacity: 0.8;
      transition: opacity 0.2s ease;
    }
}