.cover__link {
    margin: auto;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    min-height: auto;
}

@media screen and (min-width: 672px) {
    .cover__link {
        row-gap: 32px;
      }
  }