.place__title {
    @include border-box;
    width: calc(100% - 2 * 16px);
    font-weight: $font-weight-black;
    font-size: clamp(2rem, 1.5rem + 2.5vw, 2.625rem);
    line-height: 1.1;
}

@media screen and (min-width: 568px) {
    .place__title {
        width: 100%;
        line-height: 1.095;
    }
}

@media screen and (min-width: 568px) {
    .place:first-child  .place__title:first-child {
        padding-right: 60px;
    }
}

@media screen and (min-width: 767px) {
    .place__title {
        font-size: clamp(2.625rem, -1.8158rem + 9.8684vw, 4.5rem);
        line-height: 1.055;
    }
}