.page {
  max-width: 1280px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 1280px) {
  .page{
    margin: 0 auto;
  }
}