.page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include border-box;
    background-color: $background-color;
    @include font-family;
    font-weight: $font-weight-regular;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

