.photo-grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 360px));
  gap: 12px;
  grid-auto-flow: row;
  justify-content: center;
}

@media screen and (min-width: 568px) {
  .photo-grid {
      max-width: calc(100% - 48px);
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
}
@media screen and (min-width: 767px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, 352px);
        gap: 16px;
      }
}
@media screen and (min-width: 1023px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
      }
}
@media screen and (min-width: 1279px) {
    .photo-grid {
        max-width: 1184px;
        grid-template-columns: repeat(auto-fit, 284px);
        gap: 16px;
        place-items: center;
      }
}