.photo-grid {
    box-sizing: border-box;
    max-width: 360px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 360px));
    gap: 14px;
    grid-auto-flow: row;
    place-items: center;
}

@media screen and (min-width: 566px) {
    .photo-grid {
        max-width: 550px;
        grid-template-columns: repeat(auto-fit, 260px);
        gap: 16px;
        place-items: center;
    }
}

@media screen and (min-width: 767px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, 352px);
        gap: 16px;
        place-items: center;
    }
}

@media screen and (min-width: 1023px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
        place-items: center;
    }
}

@media screen and (min-width: 1279px) {
    .photo-grid {
        max-width: 1184px;
        grid-template-columns: repeat(auto-fit, 284px);
        gap: 16px;
        place-items: center;
    }
}