.photo-grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% - 32px);
}

@media screen and (min-width: 482px) {
  .photo-grid {
      width: calc(100% - 2 * 24px);
      max-width: 720px;
    }
}

@media screen and (min-width: 920px) {
  .photo-grid {
      width: calc(100% - 2 * 48px);
      max-width: 928px;
    }
}

@media screen and (min-width: 1200px) {
  .photo-grid {
      max-width: 1184px;
    }
}