.place__image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  min-height: 0;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 568px) {
  .place__image {
      max-width: 460px;
    }
}