.place__image {
    @include border-box;
    display: block;
    width: 100%;
    height: auto;
    min-height: 0;
    object-fit: contain;
    object-position: center;
}

@media screen and (min-width: 568px) {
    .place__image {
        max-width: 460px;
    }
}

// @media screen and (min-width: 864px) {
//     .place__image {
//         max-width: 440px;
//     }
// }

// @media screen and (min-width: 1023px) {
//     .place__image {
//         max-width: 460px;
//     }
// }

