.lead {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 568px) {
    .lead {
        max-width: 768px;
      }
}
@media screen and (min-width: 864px) {
    .lead {
        max-width: 928px;
      }
}
@media screen and (min-width: 1080px) {
    .lead {
        max-width: 984px;
      }
}