.lead {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

// @media screen and (min-width: 1024px) {
//     .lead {
//         margin: {
//             top: 0;
//             right: 48px;
//             left: 48px;
//             bottom: 92px;
//         }

//     } 
// }