.cover__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.675rem + 1vw, 1.125rem);
  line-height: 1.14;
  width: calc(100% - 32px);
  max-width: 360px;
  z-index: 3;
}

@media screen and (min-width: 568px) {
    .cover__subtitle {
        line-height: 1.222;
        width: calc(100% - 104px);
      }
}
