.header__logo {
    display: block;
    width: 142px;
    height: auto;
    pointer-events: none;
}

@media screen and (min-width: 767px) {
    .header__logo {
        width: 176px;
        height: auto;
    }
}



