.place__text {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 25px;
  width: calc(100% - 32px);
}

@media screen and (min-width: 568px) {
  .place__text {
      width: 100%;
    }
}

@media screen and (min-width: 864px) {
  .place__text {
      row-gap: 27px;
    }
}