@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

$font-base: "Inter";
$font-secondary: sans-serif;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;


