.lead__title {
    @include border-box;
    max-width: 100%;
    font-size: clamp(2.5rem, -0.3rem + 14vw, 6rem);
    line-height: 1.1;
    font-weight: $font-weight-black;
    text-align: center;
    margin: {
        left: 16px;
        right: 16px;
        bottom: 16px;
    };
}

@media screen and (min-width: 767px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        line-height: 1.042;
        margin: {
            left: auto;
            right: auto;
            bottom: 32px;
        };
    }
}
