.footer__links {
    @include ul-reset;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}

@media screen and (min-width: 568px) {
    .footer__links {
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 18px;
        row-gap: 0;
    }
}