.footer__links {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}

@media screen and (min-width: 482px) {
    .footer__links {
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 10px;
        row-gap: 0;
      }
}

@media screen and (min-width: 672px) {
  .footer__links {
      column-gap: 19px;
    }
}