.place__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.626;
}

@media screen and (min-width: 568px) {
  .place__paragraph {
      line-height: 1.620;
    }
}

@media screen and (min-width: 864px) {
  .place__paragraph {
      font-size: clamp(1rem, 0.325rem + 1.25vw, 1.125rem);
      line-height: 1.594;
    }
}

@media screen and (min-width: 1279px) {
  .place__paragraph {
      line-height: 1.608;
    }
}