.page__header {
    margin: {
        top: 16px;
        left: 16px;
        right: 16px;
        bottom: 48px;
    };
    padding: 0;
}

@media screen and (min-width: 768px) {
    .page__header {
        margin: {
            top: 28px;
            left: 24px;
            right: 24px;
            bottom: 48px;
        };
    }
}

@media screen and (min-width: 1024px) {
    .page__header {
        margin: {
            top: 28px;
            left: 48px;
            right: 48px;
            bottom: 48px;
        };
    }
}

@media screen and (min-width: 1280px) {
    .page__header {
        margin: {
            top: 28px;
            left: 24px;
            right: 24px;
            bottom: 56px;
        };
    }
}