.lead__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: clamp(1rem, 0.3736rem + 3.132vw, 1.875rem);
  line-height: 1.25;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 672px) {
  .lead__subtitle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 56px;
    }
}

@media screen and (min-width: 767px) {
  .lead__subtitle {
      max-width: 640px;
      font-size: 30px;
      line-height: 1.2;
    }
}

@media screen and (min-width: 1200px) {
  .lead__subtitle {
      margin-bottom: 64px;
    }
}