.cover {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    max-width: 100%;
    min-height: auto;
}

@media screen and (min-width: 767px) {
    .cover {
        row-gap: 32px;
    }
}