.page__lead {
    margin: {
        top: 0;
        left: 0;
        right: 0;
        bottom: 64px;
    };
    padding: 0;
}

@media screen and (min-width: 767px) {
    .page__lead {
        margin: {
            top: 0;
            left: auto;
            right: auto;
            bottom: 88px;
        };
    }
}

@media screen and (min-width: 864px) {
    .page__lead {
        margin: {
            top: 0;
            left: 24px;
            right: 24px;
            bottom: 92px;
        };
    }
}

@media screen and (min-width: 1023px) {
    .page__lead {
        margin: {
            top: 0;
            left: 48px;
            right: 48px;
            bottom: 92px;
        };
    }
}

@media screen and (min-width: 1279px) {
    .page__lead {
        margin: {
            top: 0;
            left: 148px;
            right: 148px;
            bottom: 92px;
        };
    }
}