.page__lead {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 64px;
  padding: 0;
}

@media screen and (min-width: 672px) {
  .page__lead {
      margin-bottom: 88px;
    }
}

@media screen and (min-width: 920px) {
  .page__lead {
      margin-bottom: 92px;
    }
}

