@charset "UTF-8";
@import "../node_modules/normalize.css/normalize.css";
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter-Regular.woff2") format("woff2"), url("../../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../fonts/Inter-Bold.woff2") format("woff2"), url("../../../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../../fonts/Inter-Black.woff2") format("woff2"), url("../../../fonts/Inter-Black.woff") format("woff");
}
.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2A2C2F;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 32px);
  height: auto;
}

@media screen and (min-width: 767px) {
  .header {
    width: calc(100% - 48px);
  }
}
@media screen and (min-width: 1023px) {
  .header {
    width: calc(100% - 96px);
  }
}
.header__logo {
  display: block;
  width: 142px;
  height: auto;
  pointer-events: none;
}

@media screen and (min-width: 767px) {
  .header__logo {
    width: 176px;
    height: auto;
  }
}
.header__lang-links {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: end;
  vertical-align: middle;
  column-gap: 18px;
  margin: 0;
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.header__lang-link {
  display: inline-block;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}
.header__lang-link_active {
  text-decoration-line: underline;
}

.lead {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 767px) {
  .lead {
    max-width: 768px;
  }
}
@media screen and (min-width: 864px) {
  .lead {
    max-width: 928px;
  }
}
@media screen and (min-width: 1080px) {
  .lead {
    max-width: 984px;
  }
}
.lead__caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding-left: 16px;
  padding-right: auto;
}

@media screen and (min-width: 767px) {
  .lead__caption {
    padding-left: 24px;
    padding-right: auto;
  }
}
@media screen and (min-width: 864px) {
  .lead__caption {
    padding: 0;
  }
}
.lead__image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  margin-bottom: 8px;
}

.lead__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: clamp(1rem, 0.3rem + 3.5vw, 1.875rem);
  line-height: 1.25;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 767px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
.lead__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: clamp(2.5rem, -0.3rem + 14vw, 6rem);
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 767px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 1.042;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
}
.intro {
  max-width: 720px;
  height: auto;
}

@media screen and (min-width: 1023px) {
  .intro {
    max-width: 690px;
  }
}
.intro__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: 900;
  font-size: clamp(2rem, 0.9rem + 5.5vw, 3.375rem);
  line-height: 1.094;
  text-align: start;
  margin-bottom: 40px;
}

@media screen and (min-width: 767px) {
  .intro__title {
    line-height: 1.074;
  }
}
.intro__text {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.63;
  text-align: start;
  margin-bottom: 34px;
}

.intro__list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  max-width: 100%;
  min-height: 90px;
}

.intro__list-text {
  font-weight: 700;
}

.photo-grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 360px));
  gap: 12px;
  grid-auto-flow: row;
  justify-content: center;
}

@media screen and (min-width: 568px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media screen and (min-width: 767px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, 352px);
    gap: 16px;
  }
}
@media screen and (min-width: 1023px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
  }
}
@media screen and (min-width: 1279px) {
  .photo-grid {
    max-width: 1184px;
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 16px;
    place-items: center;
  }
}
.photo-grid__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.places {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 767px) {
  .places {
    row-gap: 72px;
  }
}
@media screen and (min-width: 1023px) {
  .places {
    row-gap: 80px;
  }
}
.place {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  width: 100%;
  min-width: 0;
  height: auto;
}

@media screen and (min-width: 568px) {
  .place {
    display: grid;
    justify-content: start;
    justify-items: center;
    align-items: start;
    grid-template-columns: 47.22% 48.89%;
    row-gap: 48px;
    column-gap: 28px;
    width: calc(100% - 48px);
    max-width: 720px;
  }
}
@media screen and (min-width: 864px) {
  .place {
    column-gap: 32px;
    max-width: 928px;
    grid-template-columns: 47.41% 49.14%;
  }
}
@media screen and (min-width: 1023px) {
  .place {
    width: calc(100% - 96px);
    max-width: 984px;
  }
}
@media screen and (min-width: 1279px) {
  .place {
    column-gap: 40px;
    grid-template-columns: 46.75% 49.19%;
  }
}
.place__image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  min-height: 0;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 568px) {
  .place__image {
    max-width: 460px;
  }
}
.place__link {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2;
}

@media (hover: hover) {
  .place__link:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }
}
.place__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% - 32px);
  font-weight: 900;
  font-size: clamp(2rem, 1.5rem + 2.5vw, 2.625rem);
  line-height: 1.1;
}

@media screen and (min-width: 568px) {
  .place__title {
    width: 100%;
    line-height: 1.095;
  }
}
@media screen and (min-width: 568px) {
  .place:first-child .place__title:first-child {
    padding-right: 60px;
  }
}
@media screen and (min-width: 767px) {
  .place__title {
    font-size: clamp(2.625rem, -1.8158rem + 9.8684vw, 4.5rem);
    line-height: 1.055;
  }
}
.place__url-heading {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__website {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 32px);
}

@media screen and (min-width: 568px) {
  .place__website {
    align-self: end;
    width: 100%;
  }
}
.place__text {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 25px;
  width: calc(100% - 32px);
}

@media screen and (min-width: 568px) {
  .place__text {
    width: 100%;
  }
}
.place__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (min-width: 767px) {
  .place__paragraph {
    font-size: clamp(1rem, 0.7039rem + 0.6579vw, 1.125rem);
  }
}
.cover {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  max-width: 100%;
  min-height: auto;
}

@media screen and (min-width: 767px) {
  .cover {
    row-gap: 32px;
  }
}
.cover__overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #2A2C2F;
  aspect-ratio: 1.6;
  opacity: 0.3;
}

@media (hover: hover) {
  .cover__overlay:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
}
.cover__background {
  position: relative;
  background-image: url("../images/cover-trains.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1184px;
  aspect-ratio: 1.6;
  height: auto;
  z-index: 1;
}

.cover__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: clamp(2rem, 0rem + 10vw, 4.5rem);
  line-height: 1.094;
  z-index: 3;
}

@media screen and (min-width: 568px) {
  .cover__title {
    line-height: 1.056;
    width: calc(100% - 104px);
  }
}
@media screen and (min-width: 767px) {
  .cover__title {
    width: 560px;
  }
}
.cover__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.675rem + 1vw, 1.125rem);
  line-height: 1.14;
  width: calc(100% - 32px);
  z-index: 3;
}

@media screen and (min-width: 568px) {
  .cover__subtitle {
    line-height: 1.222;
    width: calc(100% - 104px);
  }
}
@media screen and (min-width: 767px) {
  .cover__subtitle {
    width: 360px;
  }
}
.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 48px;
  width: calc(100% - 32px);
}

@media screen and (min-width: 767px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 69px;
    width: calc(100% - 48px);
  }
}
@media screen and (min-width: 1023px) {
  .footer {
    width: calc(100% - 96px);
    max-width: 1184px;
  }
}
.footer__links {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}

@media screen and (min-width: 568px) {
  .footer__links {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 18px;
    row-gap: 0;
  }
}
.footer__link {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}

@media screen and (min-width: 568px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.125;
  }
}
@media (hover: hover) {
  .footer__link:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }
}
.footer__copyright {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.14;
}

.page__content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.page__header {
  margin-top: 16px;
  margin-bottom: 48px;
  padding: 0;
}

@media screen and (min-width: 767px) {
  .page__header {
    margin-top: 28px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1279px) {
  .page__header {
    margin-bottom: 56px;
  }
}
.page__lead {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 64px;
  padding: 0;
}

@media screen and (min-width: 767px) {
  .page__lead {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 864px) {
  .page__lead {
    margin-top: 0;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 1023px) {
  .page__lead {
    margin-top: 0;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 1279px) {
  .page__lead {
    margin-top: 0;
    margin-left: 148px;
    margin-right: 148px;
    margin-bottom: 92px;
  }
}
.page__intro {
  margin-top: 0;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 64px;
}

@media screen and (min-width: 767px) {
  .page__intro {
    margin-top: 0;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 824px) {
  .page__intro {
    margin-top: 0;
    margin-right: auto;
    margin-left: 48px;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 1279px) {
  .page__intro {
    margin-top: 0;
    margin-right: auto;
    margin-left: 148px;
  }
}
.page__photo-grid {
  margin-top: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;
  padding: 0;
}

@media screen and (min-width: 767px) {
  .page__photo-grid {
    margin-top: 0;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 767px) {
  .page__photo-grid {
    margin-top: 0;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
  }
}
.page__plaсes {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 66px;
}

@media screen and (min-width: 767px) {
  .page__places {
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1023px) {
  .page__places {
    padding-bottom: 92px;
  }
}
.page__cover {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1084px) {
  .page__cover {
    margin-left: auto;
    margin-right: auto;
  }
}
.page__footer {
  margin-bottom: 24px;
  padding-top: 64px;
}

@media screen and (min-width: 767px) {
  .page__footer {
    padding-top: 88px;
  }
}
@media screen and (min-width: 1023px) {
  .page__footer {
    padding-top: 92px;
  }
}

/*# sourceMappingURL=index.css.map */
