* {
    outline: 1px solid pink;
}

@import "../node_modules/normalize.css/normalize.css";

@import "../blocks/base/__colors/base__colors.scss";
@import "../blocks/base/__fonts/base__fonts.scss";
@import "../blocks/base/__mixins/base__mixins.scss";

//Page

@import "../blocks/page/page.scss";
@import "../blocks/page/__content/page__content.scss";
@import "../blocks/page/__header/page__header.scss";
@import "../blocks/page/__lead/page__lead.scss";
@import "../blocks/page/__intro/page__intro.scss";
@import "../blocks/page/__photo-grid/page__photo-grid.scss";
@import "../blocks/page/__places/page__places.scss";
@import "../blocks/page/__cover/page__cover.scss";
@import "../blocks/page/__footer/page__footer.scss";

// Header

@import "../blocks/header/header.scss";
@import "../blocks/header/__logo/header__logo.scss";
@import "../blocks/header/__lang-links/header__lang-links.scss";
@import "../blocks/header/__lang-link/header__lang-link.scss";

// Lead 

@import "../blocks/lead/__caption/lead__caption.scss";
@import "../blocks/lead/__image/lead__image.scss";
@import "../blocks/lead/__subtitle/lead__subtitle.scss";
@import "../blocks/lead/__title/lead__title.scss";

// Intro 

@import "../blocks/intro/__title/intro__title.scss";
@import "../blocks/intro/__text/intro__text.scss";
@import "../blocks/intro/__list/intro__list.scss";
@import "../blocks/intro/__list-text/intro__list-text.scss";

// Photo-grid 

@import "../blocks/photo-grid/photo-grid.scss";
@import "../blocks/photo-grid/__item/photo-grid__item.scss";

// Places 

@import "../blocks/places/places.scss";

// Place 

@import "../blocks/place/place.scss";
@import "../blocks/place/__image/place__image.scss";
@import "../blocks/place/__link/place__link.scss";
@import "../blocks/place/__title/place__title.scss";
@import "../blocks/place/__url-heading/place__url-heading.scss";
@import "../blocks/place/__website/place__website.scss";
@import "../blocks/place/__paragraph/place__paragraph.scss";

// Cover 

@import "../blocks/cover/cover.scss";
@import "../blocks/cover/__background/cover__background.scss";
@import "../blocks/cover/__title/cover__title.scss";
@import "../blocks/cover/__subtitle/cover__subtitle.scss";

// Footer 

@import "../blocks/footer/footer.scss";
@import "../blocks/footer/__links/footer__links.scss";
@import "../blocks/footer/__link/footer__link.scss";
@import "../blocks/footer/__copyright/footer__copyright.scss";

