.cover__background {
    position: relative;
    background-image: url("../images/cover-trains.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1184px;
    aspect-ratio: 1.6;
    height: auto;
    z-index: 1;
}


