.lead__caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 16px;
}

@media screen and (min-width: 672px) {
  .lead__caption {
      padding-left: 24px;
    }
}
@media screen and (min-width: 920px) {
  .lead__caption {
      padding: 0;
    }
}