.cover__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: clamp(2rem, 0rem + 10vw, 4.5rem);
  line-height: 1.094;
  width: calc(100% - 16px);
  max-width: 560px;
  z-index: 3;
}

@media screen and (min-width: 568px) {
    .cover__title {
        line-height: 1.056;
        width: calc(100% - 52px);
      }
}