.place {
    @include border-box;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    width: 100%;
    min-width: 0;
    height: auto;
}

@media screen and (min-width: 568px) {
    .place {
        display: grid;
        justify-content: start;
        justify-items: center;
        align-items: start;
        grid-template-columns: 47.22% 48.89%;
        row-gap: 48px;
        column-gap: 28px;
        width: calc(100% - 2 * 24px);
        max-width: 720px;
    }
}

@media screen and (min-width: 864px) {
    .place {
        column-gap: 32px;
        max-width: 928px;
        grid-template-columns: 47.41% 49.14%;
    }
}

@media screen and (min-width: 1023px) {
    .place {
        width: calc(100% - 2 * 48px);
        max-width: 984px;
    }
}

@media screen and (min-width: 1279px) {
    .place {
        column-gap: 40px;
        grid-template-columns: 46.75% 49.19%;
    }
}


