.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 47px;
  width: calc(100% - 32px);
}

@media screen and (min-width: 482px) {
  .footer {
      flex-direction: row;
      align-items: flex-end;
      column-gap: 15px;
      width: calc(100% - 48px);
    }
}

@media screen and (min-width: 920px) {
  .footer {
      width: calc(100% - 96px);
      max-width: 1184px;
    }
}