.place__url-heading {
    margin: {
        top: 0;
        left: 0;
        right: 0;
        bottom: 12px;
    }
    padding: 0;
    font-weight: $font-weight-regular;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: $url-color;
}
