.place__url-heading {
    @include border-box;
    margin: {
        bottom: 12px;
    }
    font-weight: $font-weight-regular;
    font-size: 12px;
    line-height: 1.0;
    letter-spacing: 2px;
    color: $url-color;
}
