.header__lang-links {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  vertical-align: middle;
  column-gap: 18px;
  padding-top: 8px;
}