.page__footer {
  box-sizing: border-box;
  margin-bottom: 24px;
  padding-top: 64px;
}

@media screen and (min-width: 767px) {
  .page__footer {
      padding-top: 88px;
    }
}

@media screen and (min-width: 1023px) {
  .page__footer {
      padding-top: 92px;
    }
}