.page__photo-grid {
    margin: {
        top: 0;
        left: 16px;
        right: 16px;
        bottom: 64px;
    }
}

// @media screen and (min-width: 426px) {
//     .page__photo-grid {
//         margin: 0 auto;
//     }
// }