.page__photo-grid {
    margin: {
        top: 0;
        left: 16px;
        right: 16px;
        bottom: 64px;
    }
    padding: 0;
}

@media screen and (min-width: 767px) {
    .page__photo-grid {
        margin: {
            top: 0;
            left: 24px;
            right: 24px;
            bottom: 88px;
        }
    }
}

@media screen and (min-width: 767px) {
    .page__photo-grid {
        margin: {
            top: 0;
            left: 48px;
            right: 48px;
            bottom: 92px;
        }
    }
}