.page__photo-grid {
  margin-top: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;
  padding: 0;
}

@media screen and (min-width: 672px) {
  .page__photo-grid {
      margin-bottom: 88px;
    }
}

@media screen and (min-width: 920px) {
  .page__photo-grid {
      margin-bottom: 92px;
    }
}