.intro__text {
    color: $text-color;
    font-size: 16px;
    line-height: 163%;
    text-align: start;
    margin: {
        top: 0;
        right: 0;
        left: 0;
        bottom: 34px;
    };
}