.place__website {
    @include border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 2 * 16px);

}

@media screen and (min-width: 568px) {
    .place__website {
        align-self: end;
        width: 100%;
    }    
}