.intro__title {
    @include border-box;
    color: $text-color;
    font-weight: $font-weight-black;
    font-size: clamp(2rem, 0.9rem + 5.5vw, 3.375rem);
    line-height: 1.094;
    text-align: start;
    margin-bottom: 40px;
}

@media screen and (min-width: 767px) {
    .intro__title {
        line-height: 1.074;
    }
}

