.intro__title {
    color: $text-color;
    font-size: 32px;
    line-height: 1.094;
    text-align: start;
    margin: {
        top: 0;
        right: 0;
        left: 0;
        bottom: 40px;
    };
}